<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/custom.css">

    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
</head>

<body>
    <div class="empty-div"></div>
    <div class="container">
        <header-component></header-component>

        <div class="content">
            <div class="headings">Api</div>
            <div class="grid-container-3">
                <div class="assign-container">
                    <div class="assign-content">
                        <div class="card">
                            <div class="card-title">
                                API 1</div>
                            <div class="card-content">
                                <p>
                                    Lorems ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum turpis
                                    a
                                    nisi congue dapibus.
                                    Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus ipsum, eu
                                    imperdiet dui.
                                    Quisque lobortis interdum nibh ac lobortis. Nulla facilisi. Cras porttitor mauris ut
                                    justo mattis lobortis.
                                    Vivamus malesuada libero ut sem euismod eu fringilla ipsum feugiat. Nunc sed
                                    vestibulum
                                    lorem.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assign-container">
                    <div class="assign-content">
                        <div class="card">
                            <div class="card-title">
                                API 2 </div>
                            <div class="card-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum turpis a
                                    nisi congue dapibus.
                                    Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus ipsum, eu
                                    imperdiet dui.
                                    Quisque lobortis interdum nibh ac lobortis. Nulla facilisi. Cras porttitor mauris ut
                                    justo mattis lobortis.
                                    Vivamus malesuada libero ut sem euismod eu fringilla ipsum feugiat. Nunc sed
                                    vestibulum
                                    lorem.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="assign-container">
                    <div class="assign-content">
                        <div class="card">
                            <div class="card-title">
                                API 3 </div>
                            <div class="card-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum turpis a
                                    nisi congue dapibus.
                                    Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus ipsum, eu
                                    imperdiet dui.
                                    Quisque lobortis interdum nibh ac lobortis. Nulla facilisi. Cras porttitor mauris ut
                                    justo mattis lobortis.
                                    Vivamus malesuada libero ut sem euismod eu fringilla ipsum feugiat. Nunc sed
                                    vestibulum
                                    lorem.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer-component></footer-component>


    </div>