<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/custom.css">

    <script src="../js/header.js"></script>
    <script src="../js/footer.js"></script>
</head>

<body>
    <div class="empty-div"></div>
    <div class="container">
        <header-component></header-component>

        <div class="content">
            <div class="headings">Projects</div>

            <div class="grid-container-3">
                <div class="web231">web231
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="web330">web 330
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="web420">web 420
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="web425-composer-app">web425-composer-app
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web425-gpa-calc">web425-gpa-calc
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web425-in-n-out">web425-in-n-out
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web450-nodebucket">web450-nodebucket
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="web450-bobs-computer">web450-bobs-computer
                    <div class="assign-container">
                        <div class="assign-content">
                            <div class="card">
                                <div class="card-title">
                                    My Awesome Resume </div>
                                <div class="card-content">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur interdum
                                        turpis a
                                        nisi congue dapibus.
                                        Etiam dapibus euismod urna, sed tempus ipsum feugiat nec. Mauris ac lectus
                                        ipsum, eu
                                        imperdiet dui.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <footer-component></footer-component>


    </div>