/* Title: trejo-calorie.css
Author: Professor Krasso
Modified by: Allan Trejo
Date: 01-27-2022
Description: Additional Styling For Calorie App */
#foodList {
  margin-left: 30px;
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
}
